{% extends 'base.html' %}

{% block content %}
  <h1>Список категорий</h1>
  <ul>
    {% for category in object_list %}
      <li>
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>
        <a href="{% url 'category_edit_view' category.pk %}">Редактировать</a>
        <form action="{% url 'category_delete_view' category.pk %}" method="post" style="display: inline;">
          {% csrf_token %}
          <input type="submit" value="Удалить">
        </form>
      </li>
    {% empty %}
      <li>Нет категорий.</li>
    {% endfor %}
  </ul>
{% endblock %}